@using Channel9.Models
@model LoginViewModel
<html lang="en">
<!-- Site information -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BigShow - Movie / Film / Cinema</title>
<meta name="description" content="Bigshow is a template to jump start campaigning your various kind of movie or tv show">

<!-- External CSS -->
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.css">
<link rel="stylesheet" href="~/assets/css/owl.transitions.css">
<link rel="stylesheet" href="~/assets/css/magnific-popup.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="~/assets/css/style.css">
<link rel="stylesheet" href="~/assets/css/responsive.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

<!-- Favicon -->
<link rel="icon" href="~/images/template/favicon.png">
<link rel="apple-touch-icon" href="images/template/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/template/icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/template/icon-114x114.png">



<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/7/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/7/util.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/7/stats.js"></script></head>

<body class="account-page">

    <div class="account-wrap">

       
        <div class="col-md-12">
            <a class="site-logo" href="index.html">
                <img src="~/images/template/logo-white.png" alt="Site Logo">
            </a>


            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="chekboxrem">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-6">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>


                    @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                }
            </section>
            <div class="col-md-offset-1 col-md-12">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div> <div class="col-md-offset-4 col-md-6">
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            </div>

        </div>
          
            
        </div>
   
        

        <!-- Script -->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/owl.carousel.js"></script>
        <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
        <script src="~/assets/js/map.js"></script>
        <script src="~/assets/js/custom.js"></script>





    </body>
</html>